<div class="off-canvas-layer"></div>
<section id="offcanvas" class="megamenu-canvas ">
  <div id="off-canvas-header">
    <a href="/account" class="mobile-login-button">
      <span class="account-icon">
         <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" xml:space="preserve">
          <g>
            <g>
              <path d="M32.1,37.3c-8.8,0-16-7.2-16-16s7.2-16,16-16s16,7.2,16,16S40.9,37.3,32.1,37.3z M32.1,10.7c-5.9,0-10.7,4.8-10.7,10.7S26.3,32,32.1,32s10.7-4.8,10.7-10.7S38,10.7,32.1,10.7z"></path>
            </g>
            <g>
              <path d="M2.8,58.7c-0.8,0-1.6-0.3-2.1-1.1c-1.1-1.1-0.8-2.9,0.3-3.7c8.8-7.2,19.7-11.2,31.2-11.2s22.4,4,30.9,11.2c1.1,1.1,1.3,2.7,0.3,3.7c-1.1,1.1-2.7,1.3-3.7,0.3C52.1,51.5,42.3,48,32.1,48s-20,3.5-27.7,10.1C4.1,58.4,3.3,58.7,2.8,58.7z"></path>
            </g>
          </g>
        </svg>
      </span>
      <span>Log In / Sign Up</span>
    </a>
    <svg class="bi bi-x" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
    </svg>
  </div>
  {% comment %} {% include 'new-currency-top' %} {% endcomment %}
  <nav class="offcanvas-main-nav containers col-12 col-lg-4">
    <ul class="nav navbar-nav megamenu">
      {% for link in linklists.main-menu.links %}
      {% assign hasMega = false %}
      {% assign intMega = 0 %}
      {% assign link_title = link.title | downcase %}
      {% assign fullwidth = '' %}
      {% for i in (1..5) %}
      {% capture apmegamenu %}apmenuitem_enable_{{ i }}{% endcapture %}
      {% capture apmegamenu_title %}apmenuitem_title_{{ i }}{% endcapture %}
      {% assign megamenu_title = settings[apmegamenu_title] | strip | downcase %}
      {% if settings[apmegamenu] %}
      {% if link_title == megamenu_title %}
      {% assign hasMega = true %}
      {% assign intMega = i %}
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if hasMega %}
      {% capture apfullwidth %}apmenuitem_fullwidth_{{ intMega }}{% endcapture %}
      {% if settings[apfullwidth] %}
      {% assign fullwidth = 'full-width' %}
      {% else %}
      {% assign fullwidth = 'aligned-center' %}
      {% endif %}
      <li class="parent  {{ fullwidth }} {% if link.active %}active{% endif %}">
        <i class="cs-font clever-icon-next"></i>
        <a class="dropdown-toggle has-category" href="{{ link.url }}" title="{{ link.title }}">
          <span class="menu-title">{{ link.title }}</span>
        </a>
        {% assign mega_link_handle = link.handle %}

      </li>
      {% else %}
      {% if linklists[link.handle] != empty %}
      <li class="parent  {% if link.active %}active{% endif %}">
        <h3>
          <i class="cs-font clever-icon-next"></i>
          <a class="dropdown-toggle has-category" href="{{ link.url }}" title="{{ link.title }}">
            <span class="">{{ link.title }}</span>
          </a>
        </h3>
        <div class="level level-1">
          <div class="back-nav-title"><i class="cs-font clever-icon-prev"></i><span class="">{{ link.title }}</span></div>
          <ul>
            {% for child_link in linklists[link.handle].links %}
            {% if linklists[child_link.handle] != empty %}
            <li class="parent dropdown-submenu {% if child_link.active %}active{% endif %}">
              <h3><i class="cs-font clever-icon-next"></i>
                <a class="dropdown-toggle" href="{{ child_link.url }}" title="{{ child_link.title }}">
                  <span class="">{{ child_link.title }}</span>
                </a>
              </h3>
              <div class="level level-2">
                <div class="back-nav-title"><i class="cs-font clever-icon-prev"></i><span class="">{{ child_link.title }}</span></div>
                <ul>
                {% for child_link1 in linklists[child_link.handle].links %}
                {% if linklists[child_link1.handle] != empty %}
                <li class="parent dropdown-submenu {% if child_link1.active %}active{% endif %}">
                  <h3><i class="cs-font clever-icon-next"></i>
                    <a class="dropdown-toggle" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                      <span class="">{{ child_link1.title }}</span>
                    </a>
                  </h3>
                  <div class="level level-3">
                    <div class="back-nav-title"><i class="cs-font clever-icon-prev"></i><span class="">{{ child_link1.title }}</span></div>
                    <ul>
                    {% for child_link2 in linklists[child_link1.handle].links %}
                    <li class="{% if child_link2.active %}active{% endif %}">
                      <a class="" href="{{ child_link2.url }}" title="{{ child_link2.title }}">
                        <span class="">{{ child_link2.title }}</span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li class="{% if child_link1.active %}active{% endif %}">
                  <a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                    <span class="">{{ child_link1.title }}</span>
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li class="{% if child_link.active %}active{% endif %}">
              <a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
                <span class="">{{ child_link.title }}</span>
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
      {% else %}
      <li class="{% if link.active %}active{% endif %}">
        <a class="" href="{{ link.url }}" title="{{ link.title }}" target="_self">
          <span class="">{{ link.title }}</span>
        </a>
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
      <div class="other-links">
        <a href="https://garagecabinetsonline.com/pages/about-us">
            About Us
        </a>
        <a href="https://garagecabinetsonline.com/pages/customer-service-contact-us">
            Contact Us
        </a>
        <!--
        <a href="/pages/faq">
            FAQ
        </a>
        -->
        <a href="/account/orders">Order Status</a>
        <br/>
        <span>Call Us:</span>
        <a class="phomeee" href="tel:+1-800-960-8341">+1-800-960-8341 </a>
      </div>
      {% comment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}

            {% if settings.enable_wishlist %}
            <li class="wishlist-menu">
              <a href="/pages/wishlist" title="My Wishlist">{{ 'header.custom_link_wishlist' | t }}</a>
            </li>
            {% endif %}
            <li><a href="/checkout"><span>{{ 'header.custom_link_checkout' | t }}</span></a></li>
            <li>
              <a href="/account/logout">{{ 'header.custom_link_logout' | t }}</a>

              <a href="/account">{{ 'header.custom_link_account' | t }}</a>
            </li>
          </ul>
        {% else %}

          {% if settings.enable_wishlist %}
            <li class="wishlist-menu">
              <a href="/pages/wishlist" title="My Wishlist">{{ 'header.custom_link_wishlist' | t }}</a>
            </li>
          {% endif %}
          <li class="checkout-mb"><a href="/checkout"><span>{{ 'header.custom_link_checkout' | t }}</span></a></li>
          <li class="account-mb">
            <a href="/account/login">{{ 'header.custom_link_login' | t }}</a>
          </li>
          <li class="reg-mb">
            {% if shop.customer_accounts_optional %}
              <a href="/account/register">{{ 'header.custom_link_create_account' | t }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endif %}
    {% endcomment %}
  </nav>
</section>
<script type="text/javascript">  
 jQuery(".btn-menu-canvas").click(function(){
  jQuery("#offcanvas").hasClass("active") 
  ? (jQuery("body").removeClass("off-canvas-active"),jQuery("#offcanvas").removeClass("active"),jQuery(".wrapper-container").removeClass("offcanvas-push"))
  : (jQuery("body").addClass("off-canvas-active"),jQuery("#offcanvas").addClass("active"),jQuery(".wrapper-container").addClass("offcanvas-push"))
 }),jQuery("#off-canvas-header > svg").click(function(){
  jQuery("#offcanvas").removeClass("active"),
  jQuery(".wrapper-container").removeClass("offcanvas-push")
}),jQuery(document).mouseup(function(a){
  var e=jQuery("body #offcanvas");
  e.is(a.target)||0!==e.has(a.target).length||(jQuery("body").removeClass("off-canvas-active"),jQuery("body #offcanvas").removeClass("active"),jQuery("body .wrapper-container").removeClass("offcanvas-push"))
}),
/*jQuery("#offcanvas .navbar-nav ul").hide(),*/
jQuery("#offcanvasz .navbar-nav li h3 i").addClass("accordion-show"),
jQuery("#offcanvasz .navbar-nav li h3 i").click(function(){
  jQuery(this).parent().next().is(":visible")
    ?jQuery(this).addClass("accordion-show")
    :jQuery(this).removeClass("accordion-show"),
    jQuery(this).closest('li').toggleClass('active'),
    jQuery(this).parent().next().toggle(400),
    jQuery(this).hasClass("clever-icon-plus")
    ?(jQuery(this).removeClass("clever-icon-plus"),jQuery(this).addClass("clever-icon-minus"),jQuery(this).removeClass("icon_plus"))
    :(jQuery(this).removeClass("clever-icon-minus"),jQuery(this).addClass("clever-icon-plus"),jQuery(this).addClass("icon_plus"))
});
jQuery("#off-canvas-header > svg").click(function(){
  jQuery("body").removeClass("off-canvas-active");
  jQuery('#offcanvas .navbar-nav li').removeClass('shown');
});
jQuery("#offcanvas .navbar-nav li h3 i").click(function(){
   jQuery(this).closest('li').addClass('shown');
});
jQuery("#offcanvas .navbar-nav .level .back-nav-title").click(function(){
   jQuery(this).closest('li').removeClass('shown');
});
</script>