{% comment %}
This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
Be sure to select page.contact as the template from the admin page to have this template take effect.

For information on adding more fields, visit:
- http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form
{% endcomment %}

<div class="contactus-page">
  {% comment %}
  Regular page content goes here.
  {% endcomment %}
  <div class="rte">
    {{ page.content }}
  </div>

  {% comment %}
  Contact form starts here
  {% endcomment %}

  <div class="container">
    
             <div class="contact-form">
            {% form 'contact' %}

            {% if form.posted_successfully? %}
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Thanks for contacting us. We'll get back to you as soon as possible.
              </div>
            {% endif %}

            {% if form.errors %}
              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ form.errors | default_errors }}
              </div>
            {% endif %}

            <div id="contact-form">
              <div class="row">
                <div class="form-group col-lg-12 col-md-12">
                  <input type="text" id="name" class="form-control" placeholder="Your Name" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.first_name }} {{ customer.last_name }}{% endif %}" name="contact[name]" />
                </div>

                <div class="form-group col-lg-12 col-md-12{% if form.errors contains 'email' %} error{% endif %}">
                  <input required type="email" id="email" class="form-control" placeholder="Your Email" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" name="contact[email]" />
                </div>
              </div>
              
              <div class="form-group">
                <input type="text" id="phone" class="form-control" placeholder="Phone Number" value="{{ form.phone }}" name="contact[phone]" />
              </div>

              <div class="form-group{% if form.errors contains 'body' %} error{% endif %}">
                <textarea required id="message" class="form-control" placeholder="Message" cols="40" rows="7" name="contact[body]">{{ form.body }}</textarea>
              </div>

              <div class="form-actions">
                <button type="submit" class="btn btn-1">Send message</button>
              </div>
            </div>

            {% endform %}
          </div>
   
  </div>
</div>
<script>
  jQuery('.main-content > .container').removeClass('container');
</script>
{% schema %}
  {
    "name": "Contact",
    
	"blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "title"
      }
      ]
    },
	{
        "type": "map",
        "name": "Google Map",
        "settings": [

        {
          "type": "textarea",
          "id": "google_map_code",
          "label": "Google Map Code"
        }
    ]
    },
  {
      "type": "block_text",
      "name": "Custom Content",
      "settings": [
      
	  {
        "type": "textarea",
        "id": "contact_info_1",
        "label": "Content",
        "default": "Content"
      }
      ]
    },
{
      "type": "contact_title",
      "name": "Form Contact",
      "settings": [
	  {
        "type": "text",
        "id": "contact_title_1",
        "label": "Contact Title Form",
        "default": "Get In Touch"
      }
      ]
    }
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
