<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        {% if section.settings.title != blank %}
          <div class="f-box f-box__one d-flex">
            <div class="f-box__content">
              <h2 class="f-box__title">{{ section.settings.title }}</h2>
              <a class="f-box__link" href="{{ section.settings.button_link }}">{{ section.settings.btn_title }}</a>
            </div>
            <img class="f-box__left" src="{{ section.settings.l_image | img_url: "master" }}">
          </div>
        {% endif %}
      </div>
      <div class="col-6">
        {% if section.settings.title2 != blank %}
          <div class="f-box f-box__two d-flex">
            <div class="f-box__content">
              <h2 class="f-box__title" >{{ section.settings.title2 }}</h2>
              <a class="f-box__link" href="{{ section.settings.button_link2 }}">{{ section.settings.btn_title2 }}</a>
            </div>
            <img class="f-box__left" src="{{ section.settings.l_image2 | img_url: "master" }}">
          </div> 
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container f-box__bottom">
    <div class="row">
      <div class="col-4">
        {% if section.settings.title3 != blank %}
          <div class="f-box f-box__three d-flex">
            <div class="f-box__content">
              <h2 class="f-box__title" >{{ section.settings.title3 }}</h2>
              <a class="f-box__link" href="{{ section.settings.button_link3 }}">{{ section.settings.btn_title3 }} {% render 'icon-arrow' %}</a>
            </div>
          </div> 
        {% endif %}
      </div>
      <div class="col-4">
        {% if section.settings.title4 != blank %}
          <div class="f-box f-box__four d-flex">
            <div class="f-box__content">
              <h2 class="f-box__title" >{{ section.settings.title4 }}</h2>
              <a class="f-box__link" href="{{ section.settings.button_link4 }}">{{ section.settings.btn_title4 }} {% render 'icon-arrow' %}</a>
            </div>
          </div> 
        {% endif %}
      </div>
      <div class="col-4">
        {% if section.settings.title5 != blank %}
          <div class="f-box f-box__five d-flex">
            <div class="f-box__content">
              <h2 class="f-box__title" >{{ section.settings.title5 }}</h2>
              <a class="f-box__link" href="{{ section.settings.button_link5 }}">{{ section.settings.btn_title5 }} {% render 'icon-arrow' %}</a>
            </div>
          </div> 
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="f-box__six d-flex justify-content-center align-items-center">
          <img class="f-box__logo" src="{{ section.settings.logo | img_url: "master" }}">
          <h2 class="f-box__title">{{ section.settings.btn_title6 }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .f-box__one{
    background-image:url("{{ section.settings.image | img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .f-box__two{
    background-image:url("{{ section.settings.image2 | img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .f-box__three{
    background-image:url("{{ section.settings.image3 | img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .f-box__four{
    background-image:url("{{ section.settings.image4 | img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .f-box__five{
    background-image:url("{{ section.settings.image5 | img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .f-box__six{
    background-image:url("{{ section.settings.image6 | img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  img{
    max-width:100%;
  }
</style>
{% schema %}
{
  "name": "First Section",
  "tag": "section",
  "class": "f_section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "First Banner"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "l_image",
      "label": "Left image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": "Button Title"
    },
    {
      "type": "header",
      "content": "Second Banner"
    },
     {
      "type": "image_picker",
      "id": "image2",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "l_image2",
      "label": "Left image"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link2",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title2",
      "label": "Button Title"
    },
    {
      "type": "header",
      "content": "Third Banner"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "title3",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link3",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title3",
      "label": "Button Title"
    },
        {
      "type": "header",
      "content": "Fourth Banner"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "title4",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link4",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title4",
      "label": "Button Title"
    },
        {
      "type": "header",
      "content": "Fifth Banner"
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "title5",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link5",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title5",
      "label": "Button Title"
    },
        {
      "type": "header",
      "content": "Sixth Banner"
    },
    {
      "type": "image_picker",
      "id": "image6",
      "label": "Background"
    },
     {
      "type": "image_picker",
      "id": "logo",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "btn_title6",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "First Section",
      "settings": {
        "title": "First Section"
      }
    }
  ]
  
}
{% endschema %}

{% javascript %}
{% endjavascript %}