<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        {% if section.settings.title != blank %}
          <div class="f-box f-box__one d-flex">
            <div class="f-box__content d-flex align-items-between">
              <h2 class="f-box__title">{{ section.settings.title }}</h2>
              <a class="f-box__link" href="{{ section.settings.button_link }}">{{ section.settings.btn_title }}</a>
            </div>
            <img class="f-box__left" src="{{ section.settings.l_image | img_url: "master" }}">
          </div>
        {% endif %}
      </div>
      <div class="col-6">
        {% if section.settings.title2 != blank %}
          <div class="f-box f-box__two d-flex">
            <div class="f-box__content">
              <h2 class="f-box__title" >{{ section.settings.title2 }}</h2>
              <a class="f-box__link" href="{{ section.settings.button_link2 }}">{{ section.settings.btn_title2 }}</a>
            </div>
            <img class="f-box__left" src="{{ section.settings.l_image2 | img_url: "master" }}">
          </div> 
        {% endif %}
      </div>
    </div>
  </div>
</section>
<style>
  .f-box__one{
    background-image:url("{{ section.settings.image | img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .f-box__two{
    background-image:url("{{ section.settings.image2 | img_url: "master" }}");
    background-repeat: no-repeat;
    background-size: cover;
  }
  img{
    max-width:100%;
  }
</style>
{% schema %}
{
  "name": "First Section",
  "tag": "section",
  "class": "f_section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "First Banner"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "l_image",
      "label": "Left image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": "Button Title"
    },
    {
      "type": "header",
      "content": "Second Banner"
    },
     {
      "type": "image_picker",
      "id": "image2",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "l_image2",
      "label": "Left image"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "button_link2",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "btn_title2",
      "label": "Button Title"
    }
  ],
  "presets": [
    {
      "name": "First Section",
      "settings": {
        "title": "First Section"
      }
    }
  ]
  
}
{% endschema %}

{% javascript %}
{% endjavascript %}