{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% include 'collection-template' %}
    <section class="recently-viewed-products">
      <div class="container">
        {% if section.settings.recently_viewed_products_title != '' %}
          <div class="related-heading">
            <h2><span>{{ section.settings.recently_viewed_products_title }}</span></h2>
          </div>
        {% endif %}
        <div class="products-grid row" id="recently-viewed-products-grid">
          {% for product in recentlyViewedProducts %}
            {% assign current_variant = product.selected_or_first_available_variant %}
            {% assign current_variant_id = current_variant.id %}
            {{ current_variant_id }}
            {% form 'product', product, id: current_variant_id, class: 'form-add-cart', data-js-product-form: '' %}
              {% section 'recently-viewed-products' %}
            {% endform %}
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="recently-viewed-products">
      <div class="container">
        {% if section.settings.recently_viewed_products_title != '' %}
          <div class="related-heading">
            <h2><span>{{ section.settings.recently_viewed_products_title }}</span></h2>
          </div>
        {% endif %}
        <div class="products-grid row" id="recently-viewed-products-grid">
          {% for product in recentlyViewedProducts %}
            {% assign current_variant = product.selected_or_first_available_variant %}
            {{ current_variant }}
            {% form 'product', product, class: 'form-add-cart', data-js-product-form: '' %}
              {% section 'recently-viewed-products' %}
            {% endform %}
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="recently-viewed-products">
      <div class="container">
          <div class="related-heading">
            <h2><span>{{ section.settings.recently_viewed_products_title }}</span></h2>
          </div>
        <div class="products-grid row" id="recently-viewed-products-grid">
          {% for product in recentlyViewedProducts %}
            {{ recentlyViewedProducts }}
            {% form 'product', product, class: 'form-add-cart', data-js-product-form: '' %}
              {% section 'recently-viewed-products' %}
            {% endform %}
          {% endfor %}
        </div>
      </div>
    </section>



